<ion-view title="Forget Password" id="page6">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <form id="forgetPassword-form3" class="list">
      <label class="item item-input item-stacked-label" id="forgetPassword-input4">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="type your email">
      </label>
      <label class="item item-input item-stacked-label" id="forgetPassword-input5">
        <span class="input-label">Password</span>
        <input type="text" placeholder="type a new password">
      </label>
      <label class="item item-input item-stacked-label" id="forgetPassword-input6">
        <span class="input-label">Password</span>
        <input type="text" placeholder="type the new password again to confirm">
      </label>
      <button id="forgetPassword-button5" class="button button-balanced button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>