<ion-view title="Login" hide-back-button="true" id="page7">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 320px; height: 14px;"></div>
    <div>
      <img src="img/8J0NW5hBQiu7qJulH9ja_306473.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form2" class="list">
      <div class="spacer" style="width: 320px; height: 11px;"></div>
      <label class="item item-input item-stacked-label" id="login-input2">
        <span class="input-label">Username</span>
        <input type="text" maxlength="16" placeholder="type your username">
      </label>
      <label class="item item-input item-stacked-label" id="login-input3">
        <span class="input-label">Password</span>
        <input type="password" maxlength="16" placeholder="type your password">
      </label>
      <ion-checkbox id="login-checkbox1">จำรหัสผ่านของคุณ</ion-checkbox>
      <a ui-sref="forgetPassword()" id="login-button2" class="button button-assertive button-block button-clear">ลืมรหัสผ่าน</a>
      <a ui-sref="menu.systemsVisitHomeOnline()" id="login-button3" class="button button-balanced button-block">Login</a>
      <button id="login-button4" class="button button-positive button-block">Register</button>
    </form>
  </ion-content>
</ion-view>