<ion-view title="" hide-nav-bar="true" hide-back-button="true" id="page1">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page1-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="page1-slide24" style="background-color:#166EDF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/Kd2lZPWxTBmXkDrXfdF4_256-256-8d0b15014c0fd4c1edaed92510d161db.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h4 id="page1-heading1" style="color:#FFFFFF;text-align:center;">ระบบเยี่ยมบ้านออนไลน์</h4>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page1-slide25" style="background-color:#13AC69;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/OnHdGQN4Sum0vhhyePUr_iconmonstr-tablet-5-240-1.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h4 id="page1-heading2" style="color:#FFFFFF;text-align:center;">ง่ายต่อการใช้งาน</h4>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page1-slide26" style="background-color:#B12A4A;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/bMHK4ftVSqSSnuTnpWCS_306473.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 300px; height: 42px;"></div>
              <a ui-sref="login()" id="page1-button1" style="border-radius:1000px 1000px 1000px 1000px;" class="button button-balanced button-block">เริ่ม</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>