<ion-view title="วิธีใช้งาน" id="page3">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/yX91VC1dQHmQoWuChhck_HD01.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 12px;"></div>
    <div id="page3-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1</strong> ขั้นตอนแรกทำการ Login เข้าสู่ระบบโดยการกรอกรหัสประจำตัวครูผู้สอน</p>
    </div>
    <div id="page3-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>2</strong> เลือกรายชื่อนักศึกษาที่ต้องการใช้ระบบเยี่ยมบ้านเพื่อหาเส้นทางเดินทาง</p>
    </div>
    <div id="page3-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3</strong> กดที่ปุ่มค้นหาเส้นทาง</p>
    </div>
    <div id="page3-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>4</strong> กดที่ปุ่มบันทึกหลังเยี่ยมบ้าน เพื่อบันทึกข้อมูล</p>
    </div>
    <div id="page3-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>5</strong> อัพโหลดรูปถ่ายเพื่อยืนยันการเยี่ยมบ้าน</p>
    </div>
  </ion-content>
</ion-view>